doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Book List
    body 
        h4 
            a(href="/book/create") Create a new Book
        h1 Book List 
        table 
            thead 
                tr 
                    th Title 
                    th Author 
                    th Publication Year 
                    th Genre 
                    th Action
            tbody 
                if books && books.length > 0 
                    each b in books
                        tr
                            td= b.title
                            td= b.author
                            td= b.publication
                            td= b.genre
                            td
                                a(href=`/book/update/${b._id}`) Update |
                                a(href=`/book/delete/${b._id}`) Delete
                else    
                    tr 
                        td(colspan="5") No Book
